{% extends 'base.html' %}
{% block body %}
  <h2>Register</h2>
  <form method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input id="username" name="username" type="text" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input id="password" name="password" type="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-success">Register</button>
  </form>
{% endblock %}